<div class="card text-center card-style bg-black mt-4 w-100">
  <div class="card-body">
    <h5 class="card-title mt-4">Voix des jeunes</h5>
    <div class="row mt-4">
      <p>
        <span
          ><a
            href="https://www.voicesofyouth.org/fr/conditions-dutilisation-de-la-voix-des-jeunes"
            class="text-decoration-none text-white"
            >Informations Légales</a
          ></span
        >
        <span>&nbsp; &nbsp;</span>
        <span
          ><a
            href="https://www.voicesofyouth.org/fr/politique-de-confidentialite-de-lvdj"
            class="text-decoration-none text-white"
            >Politique de Confidentialité</a
          ></span
        >
        <span>&nbsp; &nbsp;</span>
        <span
          ><a
            href="https://www.voicesofyouth.org/fr/faq"
            class="text-decoration-none text-white"
            >FAQ</a
          ></span
        >
      </p>
    </div>
    <div class="row mt-2">
      <p>
        <span>Voix des Jeunes &copy; 2022</span>
        <span>&nbsp; &bull; &nbsp;</span>
        <span
          >Blog by
          <a
            href="https://sokhna64.github.io/Diouf-Sokhna_pd_p2/"
            target="_blank"
            class="text-white text-decoration-underline"
            >Sokhna</a
          ></span
        >
      </p>
    </div>
  </div>
</div>
