{% extends "base.html" %} {% block content %}
<section class="banner d-flex justify-content-center align-items-center pt-5">
  <div class="container">
    <div class="row">
      {% if desc %} {% for descs in desc %}

      <div class="col-md-12 title">
        <h1 class="text-capitalize">{{ descs.titre }}</h1>
        <p class="text-start">{{descs.contenu}}</p>
        <div class="d-grid col-4 mx-auto">
          <a href="add.html" class="btn btn-primary btn-b" role="button"
            >Enregistrez votre article</a
          >
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</section>
<div class="col mt-2">
  {% if articles %} {% for article in articles %}
  <div class="card cb1">
    <div class="card-body">
      <h5 class="card-title">{{article.titre}}</h5>
      <img src="{{article.miniature.url}}" />
      <p class="card-text">{{article.resume}}</p>
      <p class="card-text">
        <small class="text-decoration-underline">{{article.auteur}}</small>
      </p>
    </div>
    <div class="d-grid col-4 mx-auto">
      <a
        href="{% url 'content' article.id %}"
        class="btn btn-primary btn-b"
        role="button"
        >Lire plus</a
      >
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
