{% extends "base.html" %} {% block content %}
<div class="row mt-5 py-5">
  <div class="col-md-6 m-auto">
    <div class="card card-style title">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} 
        <h2> Voulez-vous vraiment supprimer cet article ?</h2>
      <button class="btn btn-style" type="submit">OUI</button>
      <a href="{% url 'content' article.id %}" class="btn btn-style">NON</a>

    </form></div>
    </div>
  </div>
</div>

{% endblock %}
